# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]

*~
log/*
config/db_passwd.yml
config/fb_passwd.yml
/db/migrate/009_create_users.rb
/db/migrate/20100409034208_add_facebook_id_to_users.rb
/app/models/user.rb
