<%= error_messages_for 'slideshow' %>

<!--[form:slideshow]-->
<p><label for="slideshow_name">Name</label><br/>
<%= text_field 'slideshow', 'name'  %></p>

<p><label for="slideshow_created_at">Created at</label><br/>
<%= datetime_select 'slideshow', 'created_at'  %></p>
<!--[eoform:slideshow]-->

