<% for column in Slideshow.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @slideshow.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @slideshow %> |
<%= link_to 'Back', :action => 'list' %>
