body {
  font-family: "Tahoma", "MS Sans Serif", "Microsoft Sans Serif", "MS Serif",sans-serif;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  text-align: left; }

h2, h3, h4, h5, h6 {
  color: #333;
  margin: 0px;
  padding: 0px; }

h1 { 
  font-size: 14px;
  margin-left: 15px;
  color: #3b5998;
  padding: 0px; }
h2, h3 { 
  font-size: 13px; }
h4, h5 { 
  font-size: 11px; }
h6 { 
  font-size: 10px; }

p {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  text-align: left; }

a {
  color: #3b5998;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.fb-button {
  background-color:#3B5998;
  border-color:#D8DFEA #0E1F5B #0E1F5B #D8DFEA;
  border-style:solid;
  border-width:1px;
  color:#FFFFFF;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:11px;
  margin:0 2px;
  padding:2px 18px;
}
== [[Image:Headline text]][[Image:[[Media:Example.jpg]]]] ==

img {
  border: 0px; }

select {
  border:1px solid #BDC7D8;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:11px;
  padding:2px;
}

td,
td.label {
  font-size: 11px;
  text-align: left; }

.wbr { display: block; float:left; }

.aural {
  width: 0; height: 0;
  display: block;
  margin-left: -5000px;
  overflow: hidden;
}

.standard_message {
  padding:10px;
}

.standard_message.no_padding {
  padding:0;
}

.standard_message.shorten {
  padding-bottom:0;
}

.standard_message.has_padding {
  padding:10px;
}

.created {
  margin: 0 20px 20px;
}
.status {
  border-color:#e2c822;
  background: #fff9d7;
}

.status a {
  color: #3b5998;
  text-decoration: none;
}

.page_top_notice {
  color: #444;
  border-bottom: solid 1px #e2c822;
  padding: 5px 20px 4px;
  background: #fff9d7;
}

.explanation_note {
  border-color:#bdc7d8;
  background:#fff;
}

.explanation_note h1 {
  font-size:11px;
}

.pipe {
  color: gray;
  padding: 0px 3px; }

.column {
  float: left; }

.center {
  margin-left:auto;
  margin-right:auto;
}

.editor_title {
  background: #f7f7f7;
  padding-bottom: 5px;
}

.standard_title {
  padding-bottom: 5px;
}

.page_title {
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 5px;
  margin: 0px 10px;
}

.standard_title .page_title {
  border-bottom: none;
}

.needs_translated {  /* pgh 4ever */
  background: #85b84d;
}

.FB_name {
  color:#3b5998 !important;
}
.FB_link {
  color:#3b5998 !important;
}

/* Default Facebook CSS */ 

.fbbody  
{  
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;  
    color: #333333;  
}  
/* Default Anchor Style */  
.fbbody a  
{  
    color: #3b5998;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;  
    font-weight: bold;  
}  
.fbbody a:hover  
{  
    text-decoration: underline;  
}  
/* Facebook Box Styles */  
.fbgreybox  
{  
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.fbbluebox  
{  
    background-color: #eceff6;  
    border: 1px solid #d4dae8;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.fbinfobox, #notice
{  
    background-color: #fff9d7;  
    border: 1px solid #e2c822;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.fberrorbox, #error
{  
    background-color: #ffebe8;  
    border: 1px solid #dd3c10;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
/* Content Divider on White Background */  
.fbcontentdivider  
{  
    margin-top: 15px;  
    margin-bottom: 15px;  
    width: 520px;  
    height: 1px;  
    background-color: #d8dfea;  
}  
/* Facebook Tab Style */  
.fbtab  
{  
    padding: 8px;  
    background-color: #d8dfea;  
    color: #3b5998;  
    font-weight: bold;  
    float: left;  
    margin-right: 4px;  
    text-decoration: none;  
}  
.fbtab:hover  
{  
    background-color: #3b5998;  
    color: #ffffff;  
    cursor: hand;  
}  
