<h1>Create a new game</h1>

<%= error_messages_for :game %>

<% form_for(@game) do |f| %>
  <p>
    <b>Enter a name for your game:</b>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create New Game" %>
  </p>
<% end %>
<%= link_to 'Back', games_path %>
