<p>
  <b>Selection Count:</b>
  <%= h @game.selection_count %>
</p>

<p>
  <b>Finished at:</b>
  <%=h @game.finished_at %>
</p>


<%= link_to 'Edit', edit_player_game_path(@player, @game) %> |
<%= link_to 'Back', player_games_path %>
